<launch>

  <rosparam file="$(find robotFace)/config/butia_emotions_controllers.yaml" command="load"/>

  <node pkg="robotFace" type="emotionController.py" name="emotionController" output="screen" />
  <node pkg="robotFace" type="newNeckController.py" name="newNeckController" output="screen" />
  <node pkg="robotFace" type="dataController.py" name="dataController" output="screen" />
</launch>
