<launch>

  <rosparam file="$(find butia_face)/config/butia_emotions_controllers.yaml" command="load"/>

  <node pkg="butia_face" type="emotionController.py" name="emotionController" output="screen" />
  <node pkg="butia_face" type="newNeckController.py" name="newNeckController" output="screen" />
  <node pkg="butia_face" type="dataController.py" name="dataController" output="screen" />
</launch>
